{% extends "layout.html" %}

{% block content %}
	<h1>Signup</h1>

	{% if register %}
		<div class="alert alert-success">The user account has been created!</div>
	{% endif %}
	<div id="wrap-form">
		<form method="post">
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" name="name" class="form-control">
				<p class="error-form">{{ error_name }}</p>

			</div>

			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" name="email" class="form-control">
				<p class="error-form">{{ error_email }}</p>

			</div>

			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="pass1" class="form-control">
				<p class="error-form">{{ error_pass1 }}</p>

			</div>

			<div class="form-group">
				<label for="name">Confirma password</label>
				<input type="password" name="pass2" class="form-control">
				<p class="error-form">{{ error_pass2 }}</p>

			</div>
			<br>
			<button class="btn btn-primary">Send</button>
		</form>
	</div>
</div>

{% endblock %}
